// Color
$darkblue: #37474F;
$silver: #B0BEC5;
$bluegray: #EDF2F6;

body{
  margin: 0;
}

p, li{
  font-family: Roboto-Regular;
  color: $darkblue;
  font-size: 16px;
  line-height: 24px;
}

a{
  font-family: Roboto-Regular;
  font-size: 14px;
  color: white;
  text-align: center;
  display: block;
  margin: 0 auto;
  
  &:hover,&:visited,&:link,&:active,{
    color: white !important;
    text-decoration: none !important;
  }
}

.text-align-center{
  text-align: center;
}

.main{
  background: white;
  position: relative;
  z-index: 1000;
  padding: 30px 0 40px;

  @media (min-width: $screen-sm) {
    padding: 60px 0;
  }

  &.is_top{
    background: white url("../images/tech-background.png") no-repeat right top;
    @media (max-width: $screen-xs) {
      background-size: 80% auto;
    }
  }

  &.is_blue{
    background-color: $bluegray;
  }

  &.is_dark{
    background-color: $darkblue;
  }
}

.title{
  font-family: DroidSerif-Bold;
  font-size: 32px;
  color: #FFFFFF;
  text-shadow: 0 2px 4px rgba(0,0,0,0.50);

  @media (min-width: $screen-sm) {
    .title{
      font-size: 42px;
    }
  }
}

.ntust-photo{
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  margin: 20px 0;
}

// Button
.button{
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px 25px;
  @include transition(all, 0.3s);

  &:hover{
    background-color: rgba(white, 0.5);
  }
}

%section-title{
  font-family: DroidSerif-Bold;
  font-size: 24px;
  color: $darkblue;
  margin-bottom: 40px;

  @media (min-width: $screen-sm) {
    font-size: 28px;
  }

  &:after{
    content:'';
    position: absolute;
    @include size(40px, 1px);
    background-color: $silver;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 80px;
  }
}

.info-card{
  @include size(260px, 320px);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  margin: 0 auto 20px;

  .view{
    @extend .button;
    width: 80px;
    font-size: 12px;
    left: 50%;
  }
}