@import "plugin/normalize";
@import "plugin/bootstrap";
@import "setting";
@import "mixin";

section#home{
  height: 600px;

  img.ntust-logo{
    @include size(320px, auto);
    position: fixed;
  }

  .title{
    font-family: DroidSerif-Bold;
    font-size: 42px;
    color: #FFFFFF;
    text-shadow: 0 2px 4px rgba(0,0,0,0.50);
    position: fixed;
    margin: 90px 20px;
  }

  .explore{
    @extend %button;
    width: 80px;
    position: fixed;
    margin-top: 550px;
    left: 50%;
  }
}

section#about-program{
  .section-title{
    @extend %section-title;

    &:after{
      left: 50%;
    }
  }
}

section#why-program{
  background-color: $bluegray;
  .section-title{
    @extend %section-title;
    
    &:after{
      left: 40px;
    }
  }
}